*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: #222;
}
html{
    font-size: 62.5%
}
img{
    width: 100%;
}

p{
    font-size: 2rem;
}
h2{
    font-size: 2rem;
}
a{
    text-decoration: none;
}
main{
    /* width: 500rem; */
    width: 80vw;
    padding:1rem;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 5rem 0;
    text-align: center;
}
.logo{
    font-weight: bold;
}
header a{
    text-decoration: none;
    color: inherit;
    font-size: 1.7rem;
}
header nav{
    display: flex;
    gap: 1.5rem;
}


.post{
    display: grid;
    grid-template-columns: .9fr 1.1fr;
    gap: 2rem;
    margin-bottom: 3rem;
    & h2{
        font-size: 2.2rem;
    }
}

.post .info{
    margin: .6rem 0;
    color: #888;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    gap: 1rem;
    & .author{
        color: #222;
    }
}

.post .summary{
    margin: 1rem 0;

}



/* form styling */

.loginForm, .registerForm{
    width: 40vw;
    margin: 0 auto;
}

input{
    display: block;
    margin:1.5rem 0;
    width: 100%;
    padding: 0.5rem 0.7rem;
    border: 0.2rem solid #ddd;
    border-radius: .5rem;
    background-color: #fff;
}
button{
    width: 100%;
    display: block;
    background-color: #555;
    border: 0;
    color: #fff;
    border-radius: .5rem;
    padding: .7rem;

}

form h1{
    text-align: center;
}













li{
    list-style: none;
}